*{
    font-family: 'Inter', sans-serif;
}
.heading {
    margin: 20px 50px;
}
.heading h4 {
    color: #000;
    font-weight: bolder;
}
.content-out-profile {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.40);
    height: auto;
    margin: 15px 40px;
    overflow: auto;
}
.info-head {
    margin-bottom: 0px;
    font-weight: bolder;
}
.profile-applicantname span::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background-color: #000;
    margin: 10px auto !important;
}
.content-head {
    margin: 30px 30px 0px 30px;
}
.profile-applicantname p {
    margin: 20px 0px 0px 0px;
}
.profilename-uppercase{
    text-transform: uppercase;
    font-weight: bolder;
    color: #A5040A !important
}

.content-in-profile {
    padding: 10px 30px;
}

.info-head {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.content-applicant-info {
    display: flex;
    justify-content: space-between;
}

.applicant-info-left,
.applicant-info-right {
    width: 48%; /* Adjust the width as needed, leaving some space for margins */
}

.applicant-info-left table,
.applicant-info-right table {
    width: 100%;
    border-collapse: collapse;
}
.applicant-info-left td,
.applicant-info-right td {
    width: 140px;
    text-transform: uppercase;
}
.applicant-info-left th,
.applicant-info-left td,
.applicant-info-right th,
.applicant-info-right td {
    border:none;
    padding: 5px;
    text-align: left;
    font-size: 15px;
    color: #000 !important;
}

.applicant-info-left th,
.applicant-info-right th {
    background-color: #f2f2f2;
}
input, select {
    border-radius: 10px;
    border: 1px solid #000;
    padding: 5px;
}
.NavBtn {
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.NavBtn button {
    background-color: #A5040A;
    width: 130px;
    border-radius: 15px;
    color: #fff;
    border: none;
    padding: 7px 20px;
    margin-top: 20px;
    cursor: pointer;
}
.NavBtn button:hover {
    background-color: #400000;
}
.prev{
    margin-right: 20px;
}
button[disabled] {
    opacity: 0.5;
    cursor: not-allowed !important;
}
input[disabled],
select[disabled] {
    border: none !important;
    font-weight: bolder !important;
    color: #000 !important;
    background-color: #fff;
}

.invalid {
    border-color: #A5040A;
}
table {
    text-transform: uppercase !important;
}
/* Style for the table */
.tbleInfo table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Style for table rows */
.tbleInfo tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

.tbleInfo tr:nth-child(odd) {
    background-color: #ffffff; /* White background for odd rows */
}

/* Style for table cells */
.tbleInfo td {
    padding: 10px;
    border: 1px solid #ccc;
}

@media (max-width: 767px) {
    .applicant-info-left th,
    .applicant-info-left td,
    .applicant-info-right th,
    .applicant-info-right td {
        padding: 5px;
        width: 100% !important; /* Make both left and right sections take full width */
    }

    /* Styles for screens smaller than 768 pixels wide (e.g., mobile devices) */
    .content-applicant-info {
        flex-direction: column; /* Adjust layout to be a single column */
    }

    .applicant-info-left,
    .applicant-info-right{
        width: 95% !important; /* Make both left and right sections take full width */
    }
    /* New class to stack label above input text */
    .stack-label-top td {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    input, select {
        width: 100% !important;
    }
    .stack-label-top td span {
        margin-top: 5px; /* Add some space between label and input */
    }
    .prev {
        margin-right: 0px;
    }
}
@media (max-width: 766px) {
    .content-out-profile{
        margin: 15px 20px !important; 
    }
}
@media (max-width: 500px) {
    .content-out-profile{
        margin: 15px 10px !important; 
    }
}