body {
    background-image: url('../../admin-side/system-images/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.empty-state {
    padding: 73px;
}
.empty-state-image {
    height: 250px;
}
.img-logo {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.navbar-brand {
    font-size: 24px;
    margin-right: 20px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar {
    font-family: 'Inter', sans-serif;
    --bs-navbar-brand-padding-y: 0 !important;
}
.navbar-nav .nav-item .nav-link {
    color: #A5040A;
    width: 120px;
    text-align: center;
    font-weight: bolder;
}
.navbar-nav .nav-item .nav-link.active {
    color: white !important;
    max-width: 120px !important;
    border-radius: 15px !important;
    transition: background-color 0.3s !important;
    background-color: #A5040A !important; 
    border-radius: 15px !important;
}
.nav-item.active {
    background-color: #A5040A !important; 
    color: white !important;
    border-radius: 15px !important;
}
.active a {
    color: white !important;
}

.navbar-nav .nav-item .nav-link.active:hover {
    background-color: #400000;
    color: white;
}
.navbar-nav {
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}
/* css for personal account nav */

.dropdown-toggle {
    background-color: #A5040A !important;
    color: #fff !important; 
}
.dropdown-menu{
    left: -130px !important;
    padding: 5px;
    color: #000 !important; 
}
.dropdown-item:hover {
    border-radius: 15px;
    background-color: #ECECEC;
}
.dropdown-item i {
    margin-right: 10px;
}
.dropdown-item.active {
    background-color: #A5040A !important;
    border-radius: 15px;
}


@media (max-width: 990px) {
    .navbar-nav {
        background-color: rgba(236, 236, 236, 0.6); /* Adjust the alpha value (0.7) for the desired level of opacity */
    }
    
    .nav-link {
        text-align: left !important;
    }
    .navbar-nav .nav-item {
        display: flex;
        justify-content: center;
        margin: 5px !important;
        border-radius: 15px;
    }
    .top-left-row{
        margin-bottom: 10px !important;
    }
    .left-card {
        margin-bottom: 40px !important;
    }
    .right-column
    {
        margin-bottom: 40px !important;

    }

}
