/* Base styles for desktop */
.applicant-info {
    margin: 0px !important;
    text-align: center;
}

.applicant-info table {
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    border-collapse: collapse;
    margin-bottom: 0px !important;
}

.applicant-info th, .applicant-info td {
    padding: 10px;
    text-align: left;
    max-width: 200px; /* Maximum width for cells */
    word-wrap: break-word; /* Allow text to wrap to the next line */
}

.applicant-info th {
    border: none;
    width: 30%;
    font-weight: normal;
}

.applicant-info td {
    border: none;
    width: 70%;
    text-transform: uppercase;
}

.applicant-info tr {
    border: 1px solid #5c5959;
}

.applicant-info tr:nth-child(even) {
    background-color: #ECECEC;
}

.applicant-info p {
    margin: 5px 0;
}

.applicant-info h2 {
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: left;
}

.file-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
    text-decoration: none;
}
.employee-information {
    height: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.back-button {
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    top: 10px;
    right: 10px;
}

.back-button i {
    margin-right: 5px;
}

.back-button:hover {
    background-color: transparent;
}

.table-section {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    margin: 20px 60px 20px 60px;
}
#submitReason, #submitReasonFail, #submitReasonLPPP {
    background-color: #A5040A;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}
.status-button {
    border: none;
    font-weight: bolder;
    width: 150px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}
.ScoreLabel {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333; /* Adjust the color as needed */
}

.ScoreInput {
    width: 10% !important;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc; /* Adjust the border color as needed */
    border-radius: 4px;
    margin-right: 10px;
}
.update-btn {
    background-color: #FEC021;
    color: rgb(0, 0, 0);
    border: none;
    padding: 7px 20px !important;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.40);
}


.ScoreBTN {
    background-color: #FEC021;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.ScoreBTN:hover {
    background-color: #FEC021!important;
}
.status-button:hover {
    background-color: #400000;
}

.smaller-image {
    max-width: 100px;
    max-height: 100px;
}

.expanded-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: auto;
    z-index: 1;
}

.expanded-image img {
    position: relative;
    left: 130px;
    max-width: 95%;
    max-height: 95%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 225px auto;
    padding: 20px;
    height: 200px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    height: 40px;
    text-transform: uppercase;
}
select {
    text-transform: uppercase;
}
button[disabled]{
    opacity: 0.5;
    cursor: not-allowed;
}

button[disabled]:hover{
    background-color: #A5040A;
    opacity: 0.5;
    cursor: not-allowed;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
    .table-section {
        max-width: 800px;
    }
}
