.create-post-form {
  max-width: 1200px;
  margin: 0px 30px 0px 30px;
  padding: 0 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #ececec;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.3);
}

.content-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
}

.left-section {
  flex: 70; /* Set the flex value to 70 */
  padding: 25px 10px 25px 25px;
}

.right-section {
  flex: 30; /* Set the flex value to 30 */
  padding: 25px;
}

.left-section label,
.right-section label {
  font-weight: bold;
  margin-bottom: 5px;
}

.left-section input,
.left-section textarea,
.right-section input {
  width: 100%;
  padding: 8px;
  border: 1px solid #747474;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


#description {
  height: 420px;
}
#scheduled_at {
  line-height: 20px;
  margin-bottom: 45px;
}
#scheduleError {
  margin-top: -40px;
  font-size: 13px;
}
.left-section textarea {
  resize: none; /* Prevent resizing */
}
.right-section input[type="file"]{
  height: 270px;
  border: 1px solid #747474;
  background: white;
}

.noUploadfile {
  height: 415px!important;
  border: 1px solid #747474 !important;
  background: white !important;
}
.editUploadfile {
  height: 170px !important;
}
#imagePreview {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  height: 180px !important;
}

.imageprev {
  background: white;
  border: 1px solid #747474;
  border-radius: 15px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

/* Style for the delete icon */
.delete-icon {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 35px; /* Adjust the right position as needed */
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the close icon */
.delete-icon i {
  font-size: 18px; /* Adjust the icon size as needed */
  color: #ff0000; /* Red color for the close icon */
}

button.createpostBtn {
  width: 300px;
}
button.discard {
  background-color: #b8b8b8 !important;
  border: 1px solid #b8b8b8 !important;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -40px;
  transition: background-color 0.3s ease;
  margin-top: -10px;
}
button.create {
  background-color: #fec021 !important;
  border: 1px solid #fec021 !important;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -40px;
  transition: background-color 0.3s ease;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.button-section {
  margin-top: 20px;
  text-align: center;
}
button.button-section {
  margin-right: 20px;
}
.create-post-form button[type="submit"] {
  background-color: #fec021;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -40px;
  transition: background-color 0.3s ease;
}

.create-post-form button[type="submit"]:hover {
  background-color: #e3a300;
}
.input-row {
  display: flex;
  align-items: center;
  margin-bottom: -5px;
}

.input-row label {
  flex: 0 0 80%; /* Adjust as needed */
  font-weight: bold;
  margin-right: 10px;
}

.input-row input[type="datetime-local"],
.input-row input[type="text"] {
  flex: 0 0 80%; /* Adjust as needed */
  padding: 8px;
  border: 1px solid #747474;
  border-radius: 15px;
  box-sizing: border-box;
}

/* Additional styles to remove default spacing between inputs */
.input-row input[type="datetime-local"] + label,
.input-row input[type="text"] + label {
  margin-left: 0;
}

@media (max-width: 768px) {
  .content-section {
      flex-direction: column; /* Stack sections vertically on small screens */
  }

  .left-section,
  .right-section {
      flex: 100%; /* Take full width on small screens */
  }

  .input-row label {
      flex: 0 0 80%; /* Adjust as needed */
      margin-bottom: 5px;
  }

  .input-row input[type="datetime-local"],
  .input-row input[type="text"] {
      flex: 100%; /* Take full width on small screens */
      margin-bottom: 10px;
  }
  .right-section input[type="file"] {
      height: 40px;
      border: 1px solid #747474;
  }
}

#tag {
  position: relative;
  top: -5px;
  width: 100px;
  border: 1px solid #747474;
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  color: #333;
  height: 35px;
}

/* Style for the select options */
#tag option {
  background-color: white;
  color: #333;
}

/* Style for the select dropdown arrow */
#tag::-ms-expand {
  display: none;
}

.required::after {
  content: " *";
  color: #a5040a;
}

button[disabled] {
  background-color: gray !important;
  cursor: not-allowed !important;
  border-color: gray !important;
  color: white;
}
