/* Navigation styles */
.navbar-collapse {
  text-align: center;
  width: 100%;
  height: 60px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-item {
  display: inline-block;
  padding-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  border-radius: 15px;
  width: 150px;
  background-color: #8F8F8F;
}

.nav-link:hover {
  background-color: #400000;
  color: white;
}

.actives {
  background-color: #400000;
}

/* Responsive Navigation Styles */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
  }
  .nav-item {
    margin-bottom: 10px;
    padding-right: 0;
  }
  .chart-type {
    margin-top: 15px;
  }
  .chart-container {
    flex-direction: column; 
  }

}

/* Filter Form styles */
.filter-form {
  display: inline-block;
  position: relative;
}

#filterButton {
  border-radius: 15px;
  background: #FEC021 !important;
  border: none;
  margin-left: 90px;
}

.hidden-form {
  display: none;
  position: absolute;
  top: 100%;
  width: 150px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 90px;
  margin-top: 3px;
  z-index: 100;
  text-align: left;
}

.show-form {
  display: block;
}

/* Table and Form layout */
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-basis: calc(50% - 20px); /* Adjust as needed */
  margin: 10px;
}

/* Center the table */
.background {
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.40);
  padding: 25px;
  margin: 0px 20px;
}

/* Style the table */
.applicant-info table {
  border-collapse: collapse;
  width: 100%;
}

.applicant-info th, .applicant-info td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.applicant-info th {
  background: #C0C0C0;
}

.applicant-row:hover {
  cursor: none;
}

/* Additional styling for table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
}
.chart-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.chart {
  width: 500px;
  height: 300px;
}

/* Toggle switch style */
input[type='checkbox'] {
  display: none;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.toggle-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.toggle-label-on {
  left: 10px;
}

.toggle-label-off {
  right: 10px;
  color: #000000;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #FEC021;
  z-index: 999;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

/* Toggled state */
.toggle-checkbox:checked + .toggle-switch {
  background-color: #A5040A;
}

.toggle-checkbox:checked + .toggle-switch .toggle-label {
  opacity: 1;
}

.toggle-checkbox:checked + .toggle-switch .toggle-slider {
  transform: translateX(48px);
  background-color: #FEC021;
}

.toggle-checkbox:checked + .toggle-switch .toggle-label-off {
  display: none;
}

/* CSS to hide the "HIDE" label when checkbox is not checked */
.toggle-checkbox:not(:checked) + .toggle-switch .toggle-label-on {
  display: none;
}

/* Responsive Empty State Styles */
.empty-state {
  text-align: center;
  margin: auto; /* Center horizontally */
  max-width: 510px; /* Adjust the maximum width as needed */
  padding: 20px;
}

.empty-state-image {
  max-width: 100%; /* Resize the image to fit its container */
  height: auto; /* Maintain aspect ratio */
  margin-top: 30px;
}

.empty-state-message {
  margin-top: 20px; /* Add some spacing below the image */
  font-size: 18px; /* Adjust the font size as needed */
}
text {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bolder;
  color: #1a1616;
}
@media (max-width: 768px) {
  .empty-state {
    max-width: 100%; /* Adjust the maximum width for small screens */
  }
}
