.card {
  width: 100%;
  margin-bottom: 20px;
}

.card-body {
  max-width: 1200px;
  margin: 0px 30px 30px 30px;
  padding: 0 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #ececec;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.3);   
}

.delete-button {
  background-color: #a5040a;
  color: #fff;
  border: none;
  height: 45px;
  width: 120px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 30px;
  font-size: 16px;
}
button[disabled]{
  opacity: 0.5;
  cursor: not-allowed;
}
#select-all[disabled]{
  opacity: 0.5;
  cursor: not-allowed;
}
.delete-button:hover {
  background-color: #400000;
}
.createpostbtn {
  padding: 10px;
  background: #a5040a;
  border-radius: 15px;
  color: #fff;
}

.dynamic-height {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post-left-column,
.post-right-column {
  flex: 45%;
  padding: 10px; /* Add padding for spacing */
}
.post-third-column {
  flex: 10%;
}

.post-info-label {
  font-weight: bold;
}
.post-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.post-icon {
  margin-right: 10px;
}
.post-icon i {
  color: #a5040a;
}
.post-date {
  margin-left: auto;
  margin-right: 20px;
}

.post-title,
.post-tag,
.card-title,
.description,
.post-info-label {
  text-transform: uppercase;
}
/* Add this CSS to your existing styles */
.post-checkbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.post-checkbox-indiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 50px; /* Add some spacing between the "Edit" button and checkbox */
}

.post-edit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* Style the "Edit" button */
.edit-button {
  background-color: #FEC021;
  color: #000;
  border: none;
  width: 120px;
  height: 45px;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;

}

/* Style for checkboxes */
.post-checkbox input[type="checkbox"],
.post-checkbox-indiv input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 6px;
  position: relative;
  top: 2px;
  border: 1px solid #a5040a;
  cursor: pointer;
}

/* Style for selected checkboxes */
.post-checkbox input[type="checkbox"]:checked,
.post-checkbox-indiv input[type="checkbox"]:checked {
  background-color: #a5040a;
  border: 1px solid #a5040a;
}

/* Style for "Select All" label */
#select-all-label {
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
}
.header-delete-checkbox {
  margin: 0px 30px 10px 30px;
  padding: 0 20px 10px 20px;
}

.custom-select {
  position: relative;
}

.custom-select select {
  position: absolute;
  width: 120px;
  height: 45px;
  top: 5px;
  left: 0;
  background: #400000;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px;
}

.custom-select option {
  background-color: #ececec;
  color: rgb(20, 20, 20);
  padding: 5px; 
  border-radius: 15px; 
}

/* Style for the empty state div */
.empty-state {
  text-align: center;
  margin: auto; /* Center horizontally */
  max-width: 510px; /* Adjust the maximum width as needed */
  padding: 20px;
}

/* Style for the empty state image */
.empty-state-image {
  max-width: 100%; /* Resize the image to fit its container */
  height: auto; /* Maintain aspect ratio */
}

/* Style for the empty state message */
.empty-state-message {
  margin: 20px 0px; /* Add some spacing below the image */
  font-size: 16px; /* Adjust the font size as needed */
}
