/*apply now button*/
.apply-containerPopup{
	width: 100%;
	height: 100vh;
	background-color: rgba(143, 143, 143, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	display: none;
	z-index: 9999;

}
.apppopup{
	width: 390px;
	height: auto;
	background: #fff;
	border-radius: 15px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	transition: transform 0.4s, center 0.4s;
	margin-top: 330px;
	border-color: #000000;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.40);
}
.open-apppopup{
	display: flex;

}
.apppopup h2{
	font-size: 27px;
	font-weight: bolder;
}
.apppopup button{
	width: 28%;
	height: 39px;
	padding: 10px 0;
	background: #A5040A;
	color: #ffffff;
	border: 0;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 30px;
	
}
