body {
    background-image: url('../../admin-side/system-images/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.empty-state {
    padding: 73px;
}
.empty-state-image {
    height: 250px;
}
.img-logo {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.navbar-brand {
    font-size: 24px;
    margin-right: 20px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar {
    font-family: 'Inter', sans-serif;
    --bs-navbar-brand-padding-y: 0 !important;
}


.navbar-nav .nav-item .nav-link {
    color: #A5040A;
    width: 120px;
    text-align: center;
    font-weight: bolder;
}

.navbar-nav .nav-item .nav-link.active {
    color: white !important;
    max-width: 120px !important;
    border-radius: 15px !important;
    transition: background-color 0.3s !important;
    background-color: #A5040A !important; 
    border-radius: 15px !important;
}

.navbar-nav .nav-item .nav-link.active:hover {
    background-color: #400000;
    color: white;
}
.navbar-nav {
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}
.flex-container {
    display: flex;
    flex-direction: column;
}

.top-left-row {
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.custom-text {
    font-size: 80px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    -webkit-text-stroke: 2px #000; 
    font-family: 'Secular One', sans-serif; 
    height: 65px;
}

.right-column {
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.40);
    font-family: 'Inter', sans-serif;
    border-radius: 15px;
}
.announcement-outer-card {
    overflow-y: auto;
    height: 485px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.announcement-outer-card::-webkit-scrollbar {
    width: 0.5em;
    margin-top: 20px;
}

.announcement-outer-card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #8F8F8F;
}

.announcement-outer-card::-webkit-scrollbar-track {
    background-color: transparent; 
}


.announcement-inner-card {
    padding: 20px;
    margin: 25px 20px 25px 37px;
    border-radius: 15px;
    background: #ECECEC;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.announcement-header {
    background-color: #FEC021; 
    padding: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.announcement-header p {
    color: #000;
    font-size: 20px; 
    padding: 7px;
    font-weight: bold;
    margin-bottom: 0px !important;
    font-family: 'Inter', sans-serif !important;
}
.posted-tag {
    font-weight: bolder;
    text-transform: uppercase;
    background: #A5040A;
    color: #fff;
    width: 100px;
    height: 25px;
    padding: 0px;
    border-radius: 15px;
    margin-bottom: -15px;
}
.lppp-tag {
    background: #FEC021 !important;
}
.announcement-inner-card .posted-title p::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: #8F8F8F;
    margin: 7px auto;
}

.posted-title {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    word-wrap: break-word;
}
.posted-title p {
    font-size: 18px;
}

/* .posted-description {
    float: left;
} */
.posted-description p {
    margin: 10px 0px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    white-space: pre-line; /* Use pre-line to preserve newline characters */
}


.posted-date {
    float: right;
    font-style: italic;
    font-weight: normal !important;
    font-size: 14px !important; 
}

.bottom-left-row {
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.left-card {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.40);
    font-family: 'Inter', sans-serif;
}
.left-card p {
    font-size: 18px;
    font-weight: bolder;
}
.left-card p::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 7px auto;
}

.left-card button {
    font-size: 15px;
    padding: 27px 15px;
    height: 50px;
    display: flex;
    align-items: center; 
    font-weight: bolder;
}

.left-card i {
    font-size: 24px; 
    margin-right: 25px; 
}

.left-card button:hover {
    background-color: #ececec; 
    color: #000; 
    border: 1px solid #000;
}

.btn {
    border-radius: 10px;
    border: 1px solid #000;
    width: 100%;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .top-left-row {
        order: 1;
    }
    .right-column {
        order: 2;
    }
    .bottom-left-row {
        order: 3;
    }
    .announcement-inner-card {
        margin: 25px 20px 25px 23px;
    }
    .top-left-row {
        height: 150px;
    }
    .btn {
        width: 95%;
    }
}
    @media (max-width: 415px) {

    .custom-text{
        font-size: 60px;
    }
}
@media (max-width: 300px) {

    .custom-text{
        font-size: 50px;
    }
}
@media (max-width: 990px) {
    .navbar-nav {
        background-color: rgba(236, 236, 236, 0.6); /* Adjust the alpha value (0.7) for the desired level of opacity */
    }
    
    .nav-link {
        text-align: left !important;
    }
    .navbar-nav .nav-item {
        display: flex;
        justify-content: center;
        margin: 5px !important;
        border-radius: 15px;
    }
    .top-left-row{
        margin-bottom: 10px !important;
    }
    .left-card {
        margin-bottom: 40px !important;
    }
    .right-column
    {
        margin-bottom: 40px !important;

    }

}
